<%- include("partials/header") %>
<div class="container">
    <div class="row">
        <div style="width: 30%;margin-left:40rem;">
            <form action="">
                <div class="form-group">
                    <input class="form-control" type="text" name="Search" placeholder="Search....">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-md btn-block">Go</button>
                </div>
            </form>
        <div class="row match-to-row">
          <% person.forEach(function(person){ %>
                <li><%= person.name %></li>
                <li><%= person.dob %></li>
                <li><%= person.email_id %></li>
                <li><%= person.phone %></li>
                <br>
      <% }); %>
      </div>  
      </div> 
<nav>
  <div style="width: 30%;margin-left:45rem;margin-top: 45rem;">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</div>
<%- include("partials/footer") %>